<!-- <div>
  <% simple_form_for([@stampbook]) do |form| %>
    <%= form.label :stampbook_name, class: "d-none" %>
    <%= form.submit  value:"Check stamp" %>
  <% end %>
</div>
 -->

 <h1>Yes</h1>
 <%= @user.first_name %>
