<div class="card mb-3" style="max-width: 520px; max-height: 110px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%  %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= itinerary.itinerary_name %></h5>
      </div>
    </div>
  </div>
</div>
