.itinerary-button{
  margin-right: 30px;
  width: 180px!important;
}
.itinerary-item-body{
  position:relative;
  width: 180px;
  grid-gap: 10px;
  justify-content:center;
  box-sizing:content-box;

  .overlay-name{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    padding-bottom: 10px;
    align-items: flex-end;
    font-size:16px;
    word-wrap: break-word;
    text-align:center;
    color: $bright-yellow;
    background-image: linear-gradient(to top, rgba(#0f000c, 0.5) 20%, rgba(#030000, 0.1) 30%, transparent 50%);
    margin: 0;
    border-radius:10px;
  }
}

.selected{
  position: relative;
  border: 5px solid $bright-yellow;
  transform:scale(0.9);
  right: 10px;
}


.no-button{
  padding: 0;
  margin: 0 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  .col-sm{
    padding:0;
  }
  .itinerary-item-body{
    margin:0;
  }
}

.itinerary-button:hover{
  animation: shake 0.8s;
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(2deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-2deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-2deg); }
  80% { transform: translate(-1px, -1px) rotate(2deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}