.card-deck {

  display: flex;
  align-items: flex-start;

  .card {
    width: 100%;
    flex-grow: 1;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 40px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 80%;
  }

  margin-right: 100px;
  margin-left: 100px;
}
