.itinerary-show{
  position:relative;
  padding: 30px;
  height: 90vh;
  width: 70vw;
  background-color: $white;
  margin: 30px;
  border-radius: 20px;
}

.itinerary-card {
  border-radius: 8px;
  box-shadow: 4px 4px rgba(0,0,0,0.1);
  transition: transform 550ms;
  &:hover {
    z-index: 1;
    transform: scale(1.05);
  }
}

.itinerary-img {
  border-radius: 8px;
}


.itinerary-card-btn{
  background-color: #D6D4CD;
  width: 140px;
  height: 42px;
  color: white;
  border-radius: 16px;
  border: none;
  text-shadow: 0 0 16px rgba(0,0,0, 0.1);
  transition: 0.3s;
}

.itinerary-title {
  text-shadow: 0 0 16px rgba(0,0,0, 0.1);
  color: $yellow;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $yellow; ;
  }
}

.active-itinerary {
  background-color: $yellow;
}

.itinerary-link{
  text-decoration: none;
  &:hover{
    text-decoration:  none;
  }
}

.main-title {
  font-size: 3rem;
  font-weight: 700;
}

.destroy-container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  font-size: 16px;
}

.destroy-btn {
  color: $bright-yellow;
}
