.sign-up-background-image {
  height: 100vh;
  min-height: 200px;
  background: url('https://res.cloudinary.com/laicuroot/image/upload/v1623347593/WP_Homepage_6_ecwzwj.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: 'Chivo', sans-serif;
    display: flex;
    font-weight: 600;
    color: $bright-yellow;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.5)
  }
}

.sign-up-text-container {
  position: absolute;
  top: 10%;
    a {
    background-color: lightgrey;
    color: white;
    border-radius: 40px;
    padding: 10px 25px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    &:hover{
      text-decoration: none;
      color: white;
      transition: all .2s ease-in-out;
      transform: scale(1.04);
    }
  }
}

.sign-up-container {
  font-size: 18px;
  text-shadow: 0px 0px 15px rgba(0,0,0,0.9);
  .form-group {
    padding: 10px;
    text-align: center;
    color: white;
    margin: 0px;
    flex-grow: 1;
  }
  .form-control {
    border-radius: 30px;
    background-color: rgba(255,255,255,0.8);
  }
  .new_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  .btn-sign-up {
    padding: 10px 100px;
    margin: 10px;
    background-color: $bright-yellow;
    color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: white;
  }&:hover{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
    transform: scale(1.08);
  }
  .btn-log-in {
    padding: 10px 100px;
  }
}

.names-container {
  display: flex;
  justify-content: space-between;

}

.username-photo-container {
  display: flex;
  justify-content: space-between;
}

.password-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
