.location-pic {
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: none;
}

.modal-content {
  width: 900px;
  border-radius: 20px;
  position: absolute;
  top: 10em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
}

.modal-title {
  text-align: center;
  color: black;
}

.modal-body {
  padding-bottom: 0px;
}

.collect-stamp {
  &:link {
    text-decoration: none;

  &:hover {
    color: $mustard;
  }

  }
  font-weight: bold;
  color: black;

}
