.stampbook-picture {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-container {
  background-color: white;
  border-radius: 16px;
  padding: 32px 40px;
  max-height: 90vh;
  width: 70vw;
}
