.card-container {
  padding: 20px 20px;
  background-color: $white;
  border-radius: 20px;
  width: 60vw;
}

.stampbook-picture {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-transition{
  height: 450px;
  margin: 20px;
  transition: transform 250ms;
  &:hover{
    transform: scale(1.05);
  }
}

.card-text-font {
  font-size: 16px;
}

.card-title-font {
  font-size: 24px;
}

.card-edges {
  border-radius: 24px;
}

.img-edges {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.slick-slide {
  margin: 5px !important;
}
