.location-pic {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

.modal-content {
  width: 1200px;
  // position: absolute;
  // float: left;
  // left: 50%;
  // top: 0%;
  // transform: translate(-50%, -50%);
}

.stamp-title {
  display: block;
}
