<div class="footer-div d-flex justify-content-around py-2 text-center">
  <div class="card about">
    <h4>About</h4>
    <%= link_to "Home", root_path %>
    <p>About us</p>
  </div>

  <div class="card help">
    <h4>Help & Support</h4>
    <p>Contact us</p>
  </div>

  <div class="card contact">
    <h4>Keep in Touch</h4>
    <p>Facebook</p>
    <p>Twitter</p>
  </div>
</div>
