
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content legend-modal">
      <div class="modal-header" style="flex-direction:column;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close", style="position:absolute; right:20px; top:20px;">
          <span aria-hidden="true">&times;</span>
        </button>
        <% if @user_active_itinerary.exists? %>
          <h2><%= @user_active_itinerary.first.itinerary_name %> Itinerary</h2>
        <% else %>
          <h2>No Active Itinerary</h2>
          <%= link_to "Choose an itinerary to display", user_itineraries_path(@user), class: 'yellow-button-map-legend-active-itinerary' %>
        <% end %>
      </div>
      <div class="modal-body">
            <ul class="legend-icons inline-list">
              <li>
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, height: 30, width: 30,  crop: :fill, style: "border-radius:50%;", alt: "Card image cap" %>
                <% else %>
                  <%= cl_image_tag "https://res.cloudinary.com/laicuroot/image/upload/v1624036100/g9taazczlaxq12idd1sp.jpg", width: 30, height: 30, crop: :fill, class: "friends-avatar mr-2" %>
                <% end %>
                You Are Here
              </li>
              <li><i class="fas fa-map-marker-alt fa-2x collected-stamp-marker"></i> Collected Stamp</li>
              <li><i class="fas fa-map-marker-alt fa-2x uncollected-stamp-marker"></i> Uncollected Stamp</li>
            </ul>
      </div>
    </div>
  </div>
</div>
