<div class="card-deck my-5 text-center">
  <div class="card">
    <h1>Plan</h1>
    <img src="<%= asset_path('map-marker.png') %>" alt="">
  </div>

  <div class="card">
    <h1>Discover</h1>
    <img src="<%= asset_path('mountains.png') %>" alt="">
  </div>

  <div class="card">
    <h1>Collect</h1>
    <img src="<%= asset_path('many-stamps-2.png') %>" alt="">
  </div>
</div>
