.yellow-button{
  margin-bottom: 10px;
  padding: 8px 50px;
  background-color: $bright-yellow;
  color: $white;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
    color: $black;
  }
}

.user-menu{
  position: relative;
  z-index: 1;
}

.menu-button{
  position:absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  border-radius: 50%;
  background-color: $bright-yellow;
  color: $white;
  text-shadow: 0 0 16px rgba($black, 0.6);
  &:hover{
    color: $black;
  }
  cursor: pointer;
}