.yellow-button{
  margin-bottom: 10px;
  padding: 8px 50px;
  background-color: $bright-yellow;
  color: $white;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
    color: $black;
  }
}

.small-yellow-button{
  padding: 8px 16px;
  background-color: $bright-yellow;
  color: $white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-shadow: 0 0 4px rgba($black, 0.3);
  box-shadow: 0 0 4px rgba($black, 0.2);
}

.log-out{
  position:absolute;
  top: -15px;
  right: -25px;
  padding: 8px 16px;
}

.user-menu{
  position: relative;
  z-index: 1;
}

.friend-menu{
  position:relative;
  
}

.add-user-wrapper{
  position: absolute;
  right: 0px;
}

.add-user{
  color: $bright-yellow;
  font-size: 32px;
  border: none;
  background-color: transparent;
  transition: transform 250ms;
  &:hover{
    z-index: 5;
    transform: scale(1.2);
  }
}

.menu-button{
  position:absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  border-radius: 50%;
  background-color: $bright-yellow;
  color: $white;
  text-shadow: 0 0 16px rgba($black, 0.6);
  &:hover{
    color: $black;
  }
  cursor: pointer;
}

.friends-button{
  position:absolute;
  top: 0;
  right: 40px;
  padding: 8px 12px;
  border-radius: 50%;
  background-color: $bright-yellow;
  color: $white;
  text-shadow: 0 0 16px rgba($black, 0.6);
  &:hover{
    color: $black;
  }
  cursor: pointer;
}

.round-yellow-button{
  position: absolute;
  padding: 8px 16px;
  border-radius: 50%;
  background-color: $bright-yellow;
  color: $white;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
    color: $black;
  }
}

.no-button{
  padding: 0;
  margin: 0 15px;
  border-radius: 10px;
  margin-bottom: 10px;

  .col-sm{
    padding:0;
  }
  .itinerary-item-body{
    margin:0;
  }
}

.type-transport-buttons {
  display: flex;
  margin: 10px;
  background-color: white;
  border-radius: 12px;
  background-size: cover;
}


.round-yellow-button-route{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 50%;
  background-color: $bright-yellow;
  color: $white;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

}

.round-grey-button-route{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 50%;
  background-color: grey;
  color: white;
  border-radius: 10px;
  &:hover{
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
}