.collected-stamp-marker {
  color: #FFDE55;
}

.uncollected-stamp-marker {
  color: #FCF5DC;
  text-shadow: -11px 10px 5px 0px rgba(52,52,52,0.78);
}

.user-location-marker {
  color: red;
}

.legend-icons {
  list-style: none;

  li {
    padding: 8px;
    margin: 8px;
  }
}

.legend-toggle {
  background-color: #FFFFFF;
  border-radius: 8px;

  z-index: 1;
  vertical-align:top;

  position: absolute;
  top: 93%;
  right: 4%;
  margin-right: 4px;
}

.legend-modal {
    width: 500px !important;
    border-radius: 8px;
}

.mapboxgl-ctrl-geolocate {

}
