.stamps-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.stamps-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

.stampbook-name {
  color: #FFDE55;
}

.number-stamps-collected-sml {
  font-size: 25px;
  color: rgba(0,0,0, 0.5);
}

.number-stamps-collected-big {
  font-size: 40px;
  color: rgba(0,0,0, 0.5);;
}

.stamps-collection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.stamp-number-height {
  font-size: 40px;
}

.collect-stamp-link {
  :link {
    text-decoration: none!important;
    color: inherit;
  }
  padding: 5px 25px;
  margin: 10px;
  color: white;
  background-color: #FFDE55;
  border-radius: 20px;
}

.stamp-background {
  color: #CBCBCB;
  background-color: rgba(203,203,203, 0.1);
  border: 3px solid;
  border-radius: 12px;
  border-color: #CBCBCB;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#flipbook {
  width: 800px;
  height: 400px;
  .turn-page {
    background-color: #ccc;
  }
}
