.elongated-yellow-button {
  :link {
    text-decoration: none!important;
    color: inherit;
  }
  padding: 5px 25px;
  margin: 10px;
  color: white;
  background-color: #FFDE55;
  border-radius: 20px;
}
