// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";
@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/itinerary_item_pages/index";

.scroller {
  div {
    text-align: center;
    font-size: 30px;
  }
}

.slick-prev:before {
  content: "<";
  color: $mustard;
  font-size: 30px;
  font-weight: bolder;
}

.slick-next:before {
  content: ">";
  color: $mustard;
  font-size: 30px;
  font-weight: bolder;
}

.slick-next {
  right: -20px;
}

.slick-prev {
  left: -20px;
}

.slick-track {
  padding: 8px;
}
